<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../assets/css/control.css">
    <link rel="stylesheet" href="../../assets/css/header.css">
    <link rel="shortcut icon" href="../../assets/images/logo.png" type="image/x-icon">
    <title>Dashboard</title>
</head>

<body>

    <header class="header">
        <div class="header__content">
            <img src="../../assets/images/logo.png" alt="" class="header__logo">
            <span class="header__name">Refugio de animales</span>
        </div>
        <div class="header__main">
            <h1 class="header__title">Cuidador</h1>
            <a href="/src/index.html">
                <img src="../../assets/images/off.png" alt="" class="header__logout">
            </a>
        </div>
    </header>

    <main class="main">
        <nav class="navbar navbar--padding-none">

            <div class="navbar__title">Animales a cargo</div>
            <a href="" class="navbar__item">
                <img src="../../assets/images/perro.svg" alt="" class="navbar__image">
                <span class="navbar__text">Perro 1</span>
            </a>
            <a href="" class="navbar__item">
                <img src="../../assets/images/perro.svg" alt="" class="navbar__image">
                <span class="navbar__text">Perro 2</span>
            </a>
            <a href="" class="navbar__item">
                <img src="../../assets/images/perro.svg" alt="" class="navbar__image">
                <span class="navbar__text">Perro 3</span>
            </a>
            <a href="" class="navbar__item">
                <img src="../../assets/images/perro.svg" alt="" class="navbar__image">
                <span class="navbar__text">Perro 4</span>
            </a>

        </nav>
        <section class="control">
            <div class="control__container">
                <div class="control__item">
                    <h3 class="control__item_title">Perro 1</h3>
                    <div class="control__item_container">
                        <div class="control__item_container_image">
                            <img src="../../assets/images/Perro1.png" alt="" class="control__item_image">
                        </div>
                        <div class="control__item_data-container">
                            <div class="control__item_data">
                                <span class="control__item_key">Especie</span>
                                <p class="control__item_value">Labrador Retriever</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Tipo de comida:</span>
                                <p class="control__item_value">Purina Dog chow</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Peso:</span>
                                <p class="control__item_value">12 KG</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Necesidades de aseo:</span>
                                <p class="control__item_value">Cada 6 meses</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Vacunas:</span>
                                <p class="control__item_value">Al día</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Hábitat:</span>
                                <p class="control__item_value">Abundante espacio</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Necesidades de aseo del hábitat:</span>
                                <p class="control__item_value">Cada 8 horas</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="control__item">
                    <h3 class="control__item_title">Perro 1</h3>
                    <div class="control__item_container">
                        <div class="control__item_container_image">
                            <img src="../../assets/images/Perro1.png" alt="" class="control__item_image">
                        </div>
                        <div class="control__item_data-container">
                            <div class="control__item_data">
                                <span class="control__item_key">Especie</span>
                                <p class="control__item_value">Labrador Retriever</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Tipo de comida:</span>
                                <p class="control__item_value">Purina Dog chow</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Peso:</span>
                                <p class="control__item_value">12 KG</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Necesidades de aseo:</span>
                                <p class="control__item_value">Cada 6 meses</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Vacunas:</span>
                                <p class="control__item_value">Al día</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Hábitat:</span>
                                <p class="control__item_value">Abundante espacio</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Necesidades de aseo del hábitat:</span>
                                <p class="control__item_value">Cada 8 horas</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="control__item">
                    <h3 class="control__item_title">Perro 1</h3>
                    <div class="control__item_container">
                        <div class="control__item_container_image">
                            <img src="../../assets/images/Perro1.png" alt="" class="control__item_image">
                        </div>
                        <div class="control__item_data-container">
                            <div class="control__item_data">
                                <span class="control__item_key">Especie</span>
                                <p class="control__item_value">Labrador Retriever</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Tipo de comida:</span>
                                <p class="control__item_value">Purina Dog chow</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Peso:</span>
                                <p class="control__item_value">12 KG</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Necesidades de aseo:</span>
                                <p class="control__item_value">Cada 6 meses</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Vacunas:</span>
                                <p class="control__item_value">Al día</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Hábitat:</span>
                                <p class="control__item_value">Abundante espacio</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Necesidades de aseo del hábitat:</span>
                                <p class="control__item_value">Cada 8 horas</p>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="control__item">
                    <h3 class="control__item_title">Perro 1</h3>
                    <div class="control__item_container">
                        <div class="control__item_container_image">
                            <img src="../../assets/images/Perro1.png" alt="" class="control__item_image">
                        </div>
                        <div class="control__item_data-container">
                            <div class="control__item_data">
                                <span class="control__item_key">Especie</span>
                                <p class="control__item_value">Labrador Retriever</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Tipo de comida:</span>
                                <p class="control__item_value">Purina Dog chow</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Peso:</span>
                                <p class="control__item_value">12 KG</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Necesidades de aseo:</span>
                                <p class="control__item_value">Cada 6 meses</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Vacunas:</span>
                                <p class="control__item_value">Al día</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Hábitat:</span>
                                <p class="control__item_value">Abundante espacio</p>
                            </div>
                            <div class="control__item_data">
                                <span class="control__item_key">Necesidades de aseo del hábitat:</span>
                                <p class="control__item_value">Cada 8 horas</p>
                            </div>

                        </div>
                    </div>
                </div>


            </div>


        </section>
    </main>

    <script>
        document.querySelectorAll('.menu-item').forEach(item => {
            item.addEventListener('click', () => {
                const submenu = item.nextElementSibling;
                // document.querySelectorAll('.submenu').forEach(sub => {
                //     sub.style.display = 'none';
                // });
                submenu.classList.toggle("hidden");
            });
        });
    </script>
</body>

</html>